<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1st</title>
</head>
<body>
    <h1>First Page</h1>
    <p>This is the first page of static content.</p>
    <a href="/">first page</a>
    <a href="/second/">second page</a>
    <a href="/jinja2/">jinja2 page</a>
    <a href="/expressions/">expressions page</a>
    <a href="/data_structures/">data_structures page</a>
</body>
</html>